*{
    font-family: Arial, Helvetica, sans-serif;
}
article{
    margin:0;
    padding: 1vw 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} 

header a, header a img{
    position: absolute;
    top:0;
    left: 0;
    height: 70px;
    width: 80px;
    background: linear-gradient(135deg,yellow 20%,red,blue 85%);
}

#profil img{
    padding: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    clip-path:ellipse(50% 50%);
}

#profil{
    padding: 4px;
    height: 100px;
    width: 100px;
    background: linear-gradient(-45deg, rgb(41, 172, 212), red, rgb(252, 199, 101)85%);
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -3px 0px 5px 0.5px rgb(146, 146, 146);
}

h1, h2 { text-align: center; }

ul{
    min-width: 400px;
    list-style:none;
    padding: .8em 1em;
    position: relative;
    border: 3px blue solid;
    border-image: linear-gradient(90deg, blue ,red,yellow);
    border-image-slice: 1 1 0 0;
    transition: 0.2s;
} 
ul:before, ul:after {
    border: 3px solid;
    content: '';
    position: absolute;
}

ul:before {
    border-color: blue;
    left: -0.59em; top: .1em;
    width: .31em;
    height: 100%;
    transform: skewY(-45deg);
}

ul:after {
    border-image: linear-gradient(90deg, blue ,red,yellow);
    border-image-slice: 1 1 1 0;
    bottom: -0.7em; right: 0.16em;
    width: 100%;
    height: .31em;
    transform: skewX(-45deg);
}

ul:hover {
    transform: translate(0.5em,-0.5em);
    box-shadow: -1em 1em .15em rgb(146, 146, 146);
}

ul:hover::after {
    border-left: blue;
    border-right: yellow;
    background-image:linear-gradient(90deg, blue ,red,yellow);
}
ul:hover::before {
    background:blue ;
}
    

p{
    padding-left: 1vw;
}

@media only screen and (max-width: 1000px) and (min-height:1500px){
    *{
        font-size: 120%;
    }
    h1{
        font-size: 200%;
    }
    h2{
        font-size: 150%;
    }
    #profil img, #profil{
        height: 200px;
        width: 200px;
    }
    header a, header a img{
        height: 110px;
        width: 125px; 
    }
    ul{
        width: 70vw;
    }
}